h1 {
    display: flex;
    text-align: center;
    justify-content: center;
}

#gameContainer{
  display: flex;
  justify-content: space-evenly;
}

#buttonContainer{
  display: grid;
  justify-content: center;
}

#scoreBox {
  border: solid 2px black
}

.gameButtons{
    margin-bottom: 10%;
}