h1 {
    display: flex;
    text-align: center;
    justify-content: center;
}

#gameContainer{
  display: flex;
  justify-content: space-evenly;
}

#buttonContainer{
  display: grid;
  justify-content: center;
  width: 33%; 
}

.scoreBox {
border: solid black 2px;
width: 33%;
text-align: center; 
}

#humanTally, #computerTally {
  position: relative; 
  top: 25%; 
}

.gameButtons{
    margin-bottom: 10%;
}